<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--声明文档兼容模式，表示使用IE浏览器的最新模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--设置视口的宽度(值为设备的理想宽度)，页面初始缩放值<理想宽度/可见宽度>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>注册</title>
    <!-- 引入Bootstrap核心样式文件 -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/toastr.min.css" type="text/css">
    <!-- 引入jQuery核心js文件 -->
    <script src="/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入BootStrap核心js文件 -->
    <script src="/assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/assets/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/messages_zh.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/toastr.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<script type="text/javascript">
    $(function () {
        createCode(4);  //生成验证码
        // checkForm();
        $("#submitBtn").on('click', register);
    });

    function register() {
        var inputCode = $("#checkCodeInput").val();
        if ($("#inputEmail3").val() == "" && $("#inputTelNum").val() == "") {
            toastr.info("邮箱和手机号必填一项");
        } else if ($("#inputEmail3").val() != "" && $("#inputTelNum").val() == "" && !checkEmail($("#inputEmail3").val())) {
            toastr.info("请检查邮箱格式");
        } else if ($("#inputEmail3").val() == "" && $("#inputTelNum").val() != "" && !checkTel($("#inputTelNum").val())) {
            toastr.info("请检查手机号码格式");
        } else if ($("#inputPassword2").val() == "") {
            toastr.info("请确认密码!");
        } else if ($("#inputPassword3").val() == "") {
            toastr.info("请输入密码!");
        } else if ($("#inputPassword2").val() != $("#inputPassword3").val()) {
            toastr.info("两次密码输入不一致!")
        } else {
            if (validateCode(inputCode)) {
                $.ajax({
                    type: "POST",
                    url: "/user/saveUser",
                    dataType: "json",
                    data: $("#registerForm").serialize(),
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    success: function (data) {
                        if (data.rtCode == 0) {
                            toastr.info("注册成功!");
                            window.location.href = "/user/login";
                        } else {
                            toastr.info(data.rtMsg);
                        }
                    },
                    error: function (jqXHR) {
                        toastr.info("发生错误：" + jqXHR.status);
                    },
                });
            }
        }
        return false;
    }

    //生成验证码的方法
    function createCode(length) {
        var code = "";
        var codeLength = parseInt(length); //验证码的长度
        var checkCode = document.getElementById("checkCode");
        ////所有候选组成验证码的字符，当然也可以用中文的
        var codeChars = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
            'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
            'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
        //循环组成验证码的字符串
        for (var i = 0; i < codeLength; i++) {
            //获取随机验证码下标
            var charNum = Math.floor(Math.random() * 62);
            //组合成指定字符验证码
            code += codeChars[charNum];
        }
        if (checkCode) {
            //为验证码区域添加样式名
            checkCode.className = "code";
            //将生成验证码赋值到显示区
            checkCode.innerHTML = code;
        }
    };

    //检查验证码是否正确
    function validateCode(inputCode) {
        //获取显示区生成的验证码
        var checkCode = document.getElementById("checkCode").innerHTML;
        //获取输入的验证码
        // var inputCode = document.getElementById("inputCode").value;
        if (inputCode == "") {
            toastr.info('请输入验证码');
            return false;
        } else if (inputCode.toUpperCase() != checkCode.toUpperCase()) {
            toastr.info('验证码输入有误');
            createCode(4);
            return false;
        } else {
            return true;
        }
    }

    //检验邮箱格式
    function checkEmail(eamil) {
        var emailReg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        if (emailReg.test(eamil)) {
            return true;
        } else {
            return false;
        }
    }

    //校验手机号格式
    function checkTel(tel) {
        var telReg = /^0?1[3|4|5|6|7|8|9][0-9]\d{8}$/;
        if (telReg.test(tel)) {
            return true;
        } else {
            return false;
        }
    }
</script>
<style>
    body {
        background-color: wheat;
    }

    .form-control {
        width: 60%;
    }

    .code {
        font-family: Arial;
        font-style: italic;
        color: blue;
        font-size: 30px;
        border: 0;
        padding: 2px 3px;
        letter-spacing: 3px;
        font-weight: bolder;
        float: left;
        cursor: pointer;
        width: 150px;
        height: 34px;
        text-align: center;
        vertical-align: middle;
        background-color: #D8B7E3;
    }

    span {
        text-decoration: none;
        /*font-size: 12px;*/
        color: #288bc4;
        padding-left: 10px;
    }

    span:hover {
        text-decoration: underline;
        cursor: pointer;
    }

</style>
<body>
<div class="container" style="text-align: center">
    <form class="form-horizontal" id="registerForm" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">邮箱</label>
            <div class="col-md-10">
                <input type="email" name='email' class="form-control" id="inputEmail3" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">手机号</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="inputTelNum" placeholder="请输入手机号" name="telNum">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">密码</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="inputPassword3" autocomplete="on" placeholder="请输入密码"
                       name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-md-2 control-label">确认密码</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="inputPassword2" autocomplete="on" placeholder="请再次输入密码"
                       name="repassword">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-md-2 control-label">验证码</label>
            <div class="col-md-10" style="width: 58%;">
                <input type="text" id="checkCodeInput" class="form-control" placeholder="输入验证码"
                       style="width: auto;float: left" name="checkCode">
                <div id="checkCode" style="float: left;margin-left: 10px" onclick="createCode(4)">
                </div>
                <span onclick="createCode(4)">看不清换一张</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="width: 50%;">
                <button type="submit" class="btn btn-default" style="float: right" id="submitBtn">注册</button>
                <button type="reset" class="btn btn-default" style="float: right;margin-right: 10px">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>