<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jus.dao.IUserDao">
    <resultMap id="BaseResultMap" type="com.jus.domain.User">
        <id property="id" column="id"/>
        <result property="telNum" column="telnum"/>
        <result property="password" column="password"/>
        <result property="email" column="e_mail"/>
        <result property="nickname" column="nickname"/>
        <result property="username" column="username"/>
        <result property="type" column="type"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
    </resultMap>
    <sql id="Column_name_list">
        id,
        username,
        nickname,
        e_mail,
        telnum,
        password,
        birthday,
        type,
        gender
    </sql>
    <select id="findUserByTelOrEmail" resultMap="BaseResultMap" parameterType="com.jus.domain.User">
        select
        <include refid="Column_name_list"></include>
        from user_info
        <where>
            <if test="email!= null and email!='' ">
                OR e_mail = #{email}
            </if>
            <if test="telNum != null and telNum!='' ">
                OR telnum = #{telNum}
            </if>
        </where>
    </select>
    <insert id="saveUser" parameterType="java.util.Map">
        insert into user_info(<include refid="Column_name_list"></include>)
        values (#{id},#{username},#{nickname},#{email},#{telNum},#{password},#{birthday},#{type},#{gender})
    </insert>
    <select id="findUserByTelEmail" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Column_name_list"></include>
        from user_info
        <where>
            <if test="email!= null and email!='' ">
                OR e_mail = #{email}
            </if>
            <if test="telNum != null and telNum!='' ">
                OR telnum = #{telNum}
            </if>
        </where>
    </select>
    <update id="updateUserById" parameterType="com.jus.domain.User">
        update user_info set
        username = #{username},
        nickname = #{nickname},
        e_mail = #{email},
        telnum = #{telNum},
        password = #{password},
        birthday = #{birthday},
        type = #{type},
        gender = #{gender}
        where id = #{id}
    </update>
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Column_name_list"></include>
        from user_info
        where id = #{id}
    </select>
</mapper>